---
// @ts-nocheck
const { pokemonName } = Astro.props;

let pokemon = null;

try {
  const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${pokemonName.toLowerCase()}`);
  pokemon = await res.json();
} catch (err) {
  console.error("Error fetching Pokémon:", err);
}
---

{pokemon && (
  <a href={`/pokemon/${pokemon.name}`} class="card-link">
    <div class="card">
      
      <img
        src={pokemon.sprites.other['official-artwork'].front_default}
        alt={pokemon.name}
        class="image"
      />


      <h2 class="title">
        {pokemon.name}
      </h2>

      <div class="types">
        {pokemon.types.map((typeObj) => (
          <span class={`type type-${typeObj.type.name}`}>
            {typeObj.type.name}
          </span>
        ))}
      </div>
    </div>
  </a>
)}

<style>
  .card-link {
    text-decoration: none;
  }

  .card {
    max-width: 180px;
    border-radius: 16px;
    box-shadow: 0 5px 15px #0000001a;
    padding: 1rem;
    transition: 0.5s;
    font-family: var(--font-jost);
    color: white;
    background: rgb(54, 54, 54);
  }

  .card:hover {
    scale: 1.1;
    transition: 0.5s;
  }

  .image {
    width: 128px;
    aspect-ratio: 1;
    display: block;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    font-weight: bold;
    margin-top: 0.5rem;
    text-transform: capitalize;
    font-size: 1.25rem;
  }


</style>